<h1>Editing storages</h1>

<% form_for(@storages) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :DISKSIZE %><br />
    <%= f.text_field :DISKSIZE %>
  </p>
  <p>
    <%= f.label :TYPE %><br />
    <%= f.text_field :TYPE %>
  </p>
  <p>
    <%= f.label :HARDWARE_ID %><br />
    <%= f.text_field :HARDWARE_ID %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @storages %> |
<%= link_to 'Back', storages_path %>
